#comput {
    color: rgb(204, 190, 169);
    background-color: rgb(3, 3, 41);
    height: 70 px;
}

#love{ color:rgb(3, 3, 41);
    background-color:rgb(204, 190, 169);
height: 100 px;}
body{ background-color:rgb(3, 3, 41) ;
    color:rgb(204, 190, 169)}