#comput {
    color: rgb(204, 190, 169);
    background-color: rgb(3, 3, 20);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    letter-spacing: 20px;
    
    
}

#love{ color:rgb(3, 3, 20);
    background-color:rgb(204, 190, 169);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 100px; 
    letter-spacing: 20px; }

#menu {
    font-size: 70px;
    }

li {
    display: inline;
    font-size: 40px;
    padding: 90px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
}
h1 { display: inline;
    line-height: 90px;
        }
    
        #carre {
            float: left; 
            height: 50px;
            width: 50px;
           background-color:rgb(204, 190, 169) ;  } 

body{ background-color:rgb(3, 3, 20) ;
    color:rgb(204, 190, 169);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    }
#txt {column-count: 2;
text-align: left;
position: absolute;
width: 80%;
height: 20%;
  
}
